@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NunitoSans;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */

  height: 100dvh;
  width: 100%;
}
.form {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}
.form-header {
  border-bottom: 1px solid #e0e0e0;
  padding-top: 10px;
  padding-bottom: 8px;
}
.form-header h1 {
  text-align: center;
  font-size: 23px;
  font-weight: 800;
}
.form-container {
  padding: 10px 20px;
}
label {
  display: block;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 800;
}
input {
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: 1px solid #e0e0e0;
  padding: 10px 15px;
}
button {
  width: 100%;
  margin-top: 10px;
  padding: 10px 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #fe3737;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.form-container div {
  margin-top: 10px;
}

@media screen and (min-width: 100px) and (max-width: 650px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */

    height: 100dvh;
    width: 100%;
  }
  .form {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    max-width: 400px;
    /* width: 100%; */
  }
  .form-header {
    border-bottom: 1px solid #e0e0e0;
  }
  .form-header h1 {
    text-align: center;
    font-size: 17px;
    font-weight: 800;
  }
  .form-container {
    margin-bottom: 10px;
    padding: 10px 20px;
  }
  .form-container div {
    margin-top: 16px;
  }
  input {
    max-width: 100%;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid #e0e0e0;
    padding: 8px 4px;
  }
  label {
    display: block;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 700;
  }
  button {
    width: 100%;
    margin-top: 10px;
    padding: 8px 4px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #fe3737;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }

  /* .form-header {
    border-bottom: 1px solid #e0e0e0;
    padding-top: 10px;
  }

  .form-container {
    margin-bottom: 10px;
    padding: 10px 5px;
  }

  .form-container div {
    margin-top: 18px;
  }

  input {
    width: 100%;
  }

  label {
    font-size: 17px;
    font-weight: 550;
  } */
}
